<html>
    <head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Auction Ended</title>
    </head>
    <body>
        <h1>Auction Ended</h1>
        <p>Description</p>
        <p>Price: <span id="price"></span></p>
        <input type="checkbox" id="expedited-shipping">
        <label for="expedited-shipping">Enable Expedited Shipping</label>
        <p>Shipping Price: <span id="shipping"></span></p>
        <p>Expedited Shipping Price: <span id="shipping"></span></p>
        <input type="button" value="Pay Now">
    </body>
</html>
