<html>
    <head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Auctions</title>
    </head>
    <body>
        <h1>Auctions</h1>
        <input type="text" id="search">
        <table>
            <th>
                <tr>Item Name</tr>
                <tr>Current Price ($)</tr>
                <tr>Auction Type</tr>
                <tr>Remaining Time</tr>
                <tr>Select</tr>
            </th>
        </table>
        <input type="button" value="Submit">
    </body>
</html>
