<html>
    <head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Forward Auction</title>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    </head>
    <body>
        <h1>Forward Auction &ndash; <span id="name"></span></h1>
        <p id="description">Description</p>
        <p>Current Price: $<span id="price"></span></p>
        <p>Highest Bidder: <span id="bidder">No one has bidded on this auction yet.</span></p>
        <label for="bid">Amount to bid: $</label>
        <input type="text" id="bid"><br>
        <input type="button" value="Bid">
        <script>
         $(document).ready(function() {
           $.ajax({
             url: "http://localhost:8085/api/items/{{ auctionId }}",
             type: 'GET',
             success: function(result) {
               $("#name").text(result.name);
               $("#description").text(result.description);
               $("#price").text(result.currentPrice.toFixed(2));
               if (result.highestBidder) {
                 $("#bidder").text(result.highestBidder);
               }
             },
             error: function(error){
               console.log(error);
             }
           });
         });
        </script>
    </body>
</html>
