<html>
    <head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Auction System &ndash; Team Silicon</title>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <link rel="stylesheet" href="/styles.css">
    </head>
    <body>
        <nav>
            <a href="/home" class="navitem">Silicon Auctions</a>

            <div class="alignright">
                <span id="username" class="navitem">Not logged in</span>
                <a id="logout" class="navbutton">Logout</a>
                <a href="/login" id="login" class="navbutton">Login</a>
                <a href="/register" id="sign-up" class="navbutton">Sign Up</a>

                <a href="/auctions" class="navitem">Auctions</a>
                <a href="/auctions/sell" id="new-auction" class="navitem">New Auction</a>
            </div>
        </nav>
        <script src="/navcode.js"></script>
        <h1>Silicon Auctions</h1>
        <p>
            Welcome to Team Silicon's auction system!  Please use one of the links below to get started.
        </p>
        <a href="/register" id="sign-up-below" class="mainbutton">Sign Up</a>
        <a href="/auctions" id="auctions-below" class="mainbutton">Auctions</a>
        <a href="/auctions/sell" id="new-auction-below" class="mainbutton">New Auction</a>
    </body>
</html>
