<html>
    <head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Login</title>
    </head>
    <body>
        <h1>Login</h1>
        <form>
            <label for="username-input">Username:</label>
            <input type="text" id="username-input"><br>
            <label for="password-input">Password:</label>
            <input type="password" id="password-input"><br>
            <input type="submit" action="login" value="Login">
        </form>
    </body>
</html>
