<html>
    <head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Login</title>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <link rel="stylesheet" href="/styles.css">
    </head>
    <body>
        <nav>
            <a href="/home" class="navitem">Silicon Auctions</a>

            <div class="alignright">
                <span id="username" class="navitem">Not logged in</span>
                <a id="logout" class="navbutton">Logout</a>
                <a href="/login" id="login" class="navbutton">Login</a>
                <a href="/register" id="sign-up" class="navbutton">Sign Up</a>

                <a href="/auctions" class="navitem">Auctions</a>
                <a href="/auctions/sell" id="new-auction" class="navitem">New Auction</a>
            </div>
        </nav>
        <script src="/navcode.js"></script>
        <h1>Login</h1>
        <form id="loginForm">
            <table>
                <tr>
                    <td><label for="username-input">Username</label></td>
                    <td><input type="text" id="username-input"></td>
                </tr>
                <tr>
                    <td><label for="password-input">Password</label></td>
                    <td><input type="password" id="password-input"><br></td>
                </tr>
            </table>
            <input type="submit" action="login" value="Login" class="mainbutton">
            <p><a href="/resetpass"><em>Forgot password?</em></a></p>
        </form>
        <script>
         $("#loginForm").submit(function(e) {
           e.preventDefault();
           var accountData = {
             username: $("#username-input").val(),
             password: $("#password-input").val(),
           };
           $.ajax({
             url: "http://localhost:8085/api/users/login",
             type: 'POST',
             contentType: 'application/json',
             data: JSON.stringify(accountData),
             success: function(result) {
               localStorage.setItem("activeUserId", result.id);
               window.location.href = "/home";
             },
	     error: function(error) {
               if (error.status === 401) {
                 alert("Login failed.");
               } else {
                 console.log("An error occurred.");
                 console.log(error);
               }
             }
           });
         });
        </script>
    </body>
</html>
