<html>
    <head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Pay for Item</title>
    </head>
    <body>
        <h1>Pay for Item</h1>
        <h2>Winning Bidder</h2>
        <p>First Name: <span id="first-name"></span></p>
        <p>Last Name: <span id="last-name"></span></p>
        <p>Street: <span id="street"></span></p>
        <p>Number: <span id="number"></span></p>
        <p>Province: <span id="province"></span></p>
        <p>Country: <span id="country"></span></p>
        <p>Postal Code: <span id="postal-code"></span></p>
        <p>Total Cost: <span id="price"></span></p>

        <h2>Credit Card</h2>
        <form>
            <label for="username-input">Username:</label>
            <input type="text" id="username-input"><br>
            <label for="password-input">Password:</label>
            <input type="text" id="password-input"><br>
            <input type="submit" action="login" value="Login">
            <input type="submit" action="register" value="Register">
        </form>
    </body>
</html>
