<html>
    <head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Pay for Item</title>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <link rel="stylesheet" href="/styles.css">
    </head>
    <body>
        <nav>
            Silicon Auctions

            <div class="alignright">
                <span id="username" class="navitem">Not logged in</span>
                <a href="/home" id="logout" class="navbutton">Logout</a>
                <a href="/login" id="login" class="navbutton">Login</a>
                <a href="/register" id="sign-up" class="navbutton">Sign Up</a>
                
                <a href="/home" class="navitem">Home</a>
                <a href="/auctions" class="navitem">Auctions</a>
                <a href="/auctions/sell" id="new-auction" class="navitem">New Auction</a>
            </div>
        </nav>
        <script src="/navcode.js"></script>
        <h1>Pay for Item</h1>
        <h2>Winning Bidder</h2>
        <table class="fancytable">
            <tr><td>First Name</td><td id="first-name"></td></tr>
            <tr><td>Last Name</td><td id="last-name"></td></tr>
            <tr><td>Street</td><td id="street"></td></tr>
            <tr><td>Street Number</td><td id="street-number"></td></tr>
            <tr><td>City</td><td id="city"></td></tr>
            <tr><td>Country</td><td id="country"></td></tr>
            <tr><td>Postal Code</td><td id="postal-code"></td></tr>
        </table>

        <h2>Auctioned Item &ndash; <span id="name">Item</span></h2>
        <p id="description">Description</p>
        <table>
            <tr><td>Expedited Shipping</td><td></td><td>{{ "Yes" if expedited.lower() == "True" else "No" }}</td></tr>
            <tr><td>Total Cost</td><td>$</td><td id="total"></td></tr>
        </table>

        <h2>Credit Card</h2>
        <form id="payForm">
            <table>
                <tr>
                    <td><label for="card-num-input">Card #:</label></td>
                    <td><input type="text" id="card-num-input"></td>
                </tr>
                <tr>
                    <td><label for="card-name-input">Name on Card:</label></td>
                    <td><input type="text" id="card-name-input"></td>
                </tr>
                <tr>
                    <td><label for="exp-date-input">Expiration Date:</label></td>
                    <td><input type="text" id="exp-date-input"></td>
                </tr>
                <tr>
                    <td><label for="security-code-input">Security Code:</label></td>
                    <td><input type="text" id="security-code-input"></td>
                </tr>
            </table>
            <input type="submit" value="Pay for Item" class="mainbutton">
        </form>
        <script>
         function updateBidderData(bidder) {
           $("#first-name").text(bidder.firstName);
           $("#last-name").text(bidder.lastName);
           $("#street").text(bidder.streetName);
           $("#street-number").text(bidder.streetNumber);
           $("#city").text(bidder.city);
           $("#country").text(bidder.country);
           $("#postal-code").text(bidder.postalCode);
         }

         function updatePrice() {
           $.ajax({
             url: "http://localhost:8085/api/items/{{ auctionId }}",
             type: 'GET',
             success: function(result) {
               cachedItem = result;
               const currentPrice = result.currentPrice || 0.0;
               const shippingPrice = result.shippingPrice || 0.0;
               const expeditedShippingPrice = result.expeditedShippingPrice || 0.0;

               if ({{ expedited }}) {
                 $("#total").text((currentPrice + shippingPrice + expeditedShippingPrice).toFixed(2));
               } else {
                 $("#total").text((currentPrice + shippingPrice).toFixed(2));
               }
               if (result.highestBidder) {
                 $("#bidder").text(result.highestBidder.username);
               }
             },
             error: function(error){
               console.log(error);
             }
           });
         }

         $(document).ready(function() {
           $.ajax({
             url: "http://localhost:8085/api/items/{{ auctionId }}",
             type: 'GET',
             success: function(result) {
               cachedItem = result;

               $("#name").text(result.name);
               $("#description").text(result.description);
               if (result.highestBidder) {
                 $("#bidder").text(result.highestBidder.username);
               }

               updatePrice();
               updateBidderData(result.highestBidder);
             },
             error: function(error){
               console.log(error);
             }
           });
         });

         $("#payForm").submit(function(e) {
           e.preventDefault();
           var paymentData = {
             itemId: {{ auctionId }},
             customerId: localStorage.getItem("activeUserId"),
             cardNumber: $("#card-num-input").val(),
             cardName: $("#card-name-input").val(),
             expirationDate: $("#exp-date-input").val(),
             securityCode: $("#security-code-input").val(),
             shipping: {{ expedited }}
           };
           console.log(JSON.stringify(paymentData));
           $.ajax({
             url: "http://localhost:8085/api/main/pay_now",
             type: 'POST',
             contentType: 'application/json',
             data: JSON.stringify(paymentData),
             success: function(result) {
               window.location.href = `/auctions/receipt/{{ auctionId }}/`;
             },
	     error: function(error) { console.log(error); }
           });
         });
        </script>
    </body>
</html>
