<html>
    <head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Receiving Item</title>
    </head>
    <body>
        <h1>Receiving Item</h1>
        <h2>Winning Bidder</h2>
        <p>First Name: <span id="first-name"></span></p>
        <p>Last Name: <span id="last-name"></span></p>
        <p>Street: <span id="street"></span></p>
        <p>Number: <span id="number"></span></p>
        <p>Province: <span id="province"></span></p>
        <p>Country: <span id="country"></span></p>
        <p>Postal Code: <span id="postal-code"></span></p>
        <p>Total Cost: <span id="price"></span></p>

        <h2>Shipping Information</h2>
        <p>The item will arrive in <span id="time">? days</span></p>
    </body>
</html>
