<html>
    <head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Sign Up</title>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    </head>
    <body>
        <h1>Sign Up</h1>
        <form id="registerForm">
            <label for="username-input">Username:</label>
            <input type="text" id="username-input"><br>
            <label for="password-input">Password:</label>
            <input type="password" id="password-input"><br>
            <br>
            <label for="first-name-input">First Name:</label>
            <input type="text" id="first-name-input"><br>
            <label for="last-name-input">Last Name:</label>
            <input type="text" id="last-name-input"><br>
            <label for="address-input">Address:</label>
            <input type="text" id="address-input"><br>
            <label for="street-number-input">Street Number:</label>
            <input type="text" id="street-number-input"><br>
            <label for="postal-code-input">Postal Code:</label>
            <input type="text" id="postal-code-input"><br>
            <label for="city-input">City:</label>
            <input type="text" id="city-input"><br>
            <label for="country-input">Country:</label>
            <input type="text" id="country-input"><br>
            <input type="submit" value="Register">
        </form>
        <script>
         $("#registerForm").submit(function(e) {
           e.preventDefault();
           var accountData = {
             username: $("#username-input").val(),
             password: $("#password-input").val(),
             firstName: $("#first-name-input").val(),
             lastName: $("#last-name-input").val(),
             streetName: $("#address-input").val(),
             streetNumber: $("#street-number-input").val(),
             postalCode: $("#postal-code-input").val(),
             city: $("#city-input").val(),
             country: $("#country-input").val(),
           };
           $.ajax({
             url: "http://localhost:8085/api/users/register",
             type: 'POST',
             contentType: 'application/json',
             data: JSON.stringify(accountData),
             success: function(result) {},
	     error: function(error){
               console.log(error);
             }
           });

           // login to the account, since the backend doesn't return the user id
           var accountData = {
             username: $("#username-input").val(),
             password: $("#password-input").val(),
           };
           $.ajax({
             url: "http://localhost:8085/api/users/login",
             type: 'POST',
             contentType: 'application/json',
             data: JSON.stringify(accountData),
             success: function(result) {
               localStorage.setItem("activeUserId", result.id);
               window.location.href = "/home";
             },
	     error: function(error) {
               if (error.status === 401) {
                 alert("Login failed.");
               } else {
                 console.log("An error occurred.");
                 console.log(error);
               }
             }
           });
         });
        </script>
    </body>
</html>
