<html>
    <head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Reset Password</title>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <link rel="stylesheet" href="/styles.css">
    </head>
    <body>
        <h1>Reset Password</h1>
        <form id="resetForm">
            <label for="username-input">Username:</label>
            <input type="text" id="username-input"><br>
            <label for="password-input">New Password:</label>
            <input type="password" id="password-input"><br>
            <input type="submit" value="Reset Password">
        </form>
        <script>
         $("#resetForm").submit(function(e) {
           e.preventDefault();
           var accountData = {
             username: $("#username-input").val(),
             password: $("#password-input").val(),
           };
           $.ajax({
             url: "http://localhost:8085/api/users/resetpass",
             type: 'POST',
             contentType: 'application/json',
             data: JSON.stringify(accountData),
             success: function(result) {
               window.location.href = "/login";
             },
	     error: function(error) {
               console.log(error);
             }
           });
         });
        </script>
    </body>
</html>
