<html>
    <head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Sell Item</title>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <link rel="stylesheet" href="/styles.css">
    </head>
    <body>
        <h1>Sell Item</h1>
        <form id="sellForm">
            <label for="item-name">Item Name: </label>
            <input type="text" id="item-name" required><br>
            <label for="item-description">Item Description: </label>
            <textarea id="item-description" required></textarea><br>
            <label for="initial-price">Initial Price: $</label>
            <input type="number" id="initial-price" required><br>
            <label for="shipping-price">Shipping Price: $</label>
            <input type="number" id="shipping-price" required><br>
            <label for="expedited-price">Expedited Shipping Price: +$</label>
            <input type="number" id="expedited-price" required><br>
            Auction Type:<br>
            <input type="radio" id="forward" name="auction-type" value="FORWARD">
            <label for="forward"><abbr title="Everyone has a certain time to bid for the item.  Whoever offers the highest price buys the item for that price.">Forward</abbr></label><br>
            <input type="radio" id="dutch" name="auction-type" value="DUTCH">
            <label for="dutch"><abbr title="The item is offered at a certain price, which decreases over time.  Whoever makes an offer first buys the item for that price.">Dutch</abbr></label><br>
            <label for="until">Run auction until:</label>
            <input id="until" type="date"><br><br>
            <input type="submit" value="Create Auction">
        </form>
        <script>
         function create(user) {
           var date = new Date();
           date = new Date(date.getTime() + 86400 * 5 + 86400 * 10 * Math.random());

           var itemData = {
             name: $("#item-name").val(),
             description: $("#item-description").val(),
             startingPrice: $("#initial-price").val(),
             currentPrice: $("#initial-price").val(),
             shippingPrice: $("#shipping-price").val(),
             expeditedShippingPrice: $("#expedited-price").val(),
             status: "AVAILABLE",
             auctionType: $('input[name="auction-type"]:checked').val(),
             arrival: date.toISOString(),
             duration: new Date($("#until").val()).toISOString(),
             owner: user
           };

           $.ajax({
             url: "http://localhost:8085/api/items",
             type: 'POST',
             contentType: 'application/json',
             data: JSON.stringify(itemData),
             success: function(result) {
               window.location.href = "/auctions";
             },
	     error: function(error) {
               console.log(error);
             }
           });
         }

         $("#sellForm").submit(function(e) {
           e.preventDefault();
           $.ajax({
             url: `http://localhost:8085/api/users/${localStorage.getItem("activeUserId")}`,
             type: 'GET',
             success: function(result) {
               create(result);
             },
             error: function(error) {
               console.log(error);
             }
           });
         });
        </script>
    </body>
</html>
